body {
    margin     : 0;
    padding    : 0;
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'NexaBold';
    src        : url('fonts/NexaBold.eot');
    src        : url('fonts/NexaBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/NexaBold.svg#NexaBold') format('svg'),
        url('fonts/NexaBold.ttf') format('truetype'),
        url('fonts/NexaBold.woff') format('woff'),
        url('fonts/NexaBold.woff2') format('woff2');
    font-weight: normal;
    font-style : normal;
}

.font-NexaBold {
    font-family: 'NexaBold';
}

header,
.banner-section {
    background: #d9d9d9;
}

.ptb {
    padding: 75px 0;
}

.navbar-light .navbar-toggler {
    color       : rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
}

.navbar-light .navbar-nav .nav-link {
    color      : rgba(0, 0, 0, .5);
    font-family: 'NexaBold';
    font-weight: 800;
}

.navbar-brand img {
    max-width: 200px;
}

.img-text-container {
    position: relative;
}

.text-container {
    position: absolute;
    right   : 20px;
    top     : 0;
}

.color-blue {
    color: #003c6f;
}

.banner-section .banner-holder .owl-dots .owl-dot span {
    background: #109251 !important;
}

.banner-section .banner-holder .owl-theme .owl-dots .owl-dot:hover span {
    background: #003c6f !important;
}

.banner-section .text-container .banner-p {
    color    : #6b6b6b;
    font-size: 20px;
}

.banner-section .text-container button,
.form-section button {
    background: #003c6f;
    color     : #fff;
    border    : none;
}

.banner-section .text-container a,
.form-section a {
    color    : white;
    font-size: 13px;
}

.banner-section .text-container .banner-heading {
    color        : #109251;
    border-bottom: solid 7px #003c6f;
    font-size    : 18px;
    font-weight  : normal;
}

.banner-section .text-container .cb {
    color: #003c6f !important;
}

.bg-img-section {
    padding: 100px 0;
}

.signup-early-section .right-column img {
    padding-top: 50px;
}

.bg-img-section {
    background: url(../images/eee-bg.jpg) no-repeat center center / cover;
    padding   : 150px 0;
}

.fs-32 {
    font-size: 32px;
}

.bg-img-section p {
    font-weight: 500;
}

.color-gray {
    color      : #6b6b6b;
    line-height: 24px;
    font-weight: 500;
}

.color-green {
    color: #109251;
}

.color-blue {
    color: #003c6f;
}

footer {
    background: #109251;
}

.form-section .form-input select,
.form-input input {
    width     : 100%;
    border    : solid 2px #105632;
    background: #109251;
    color     : #105632 !important;
    height    : 40px;
}

.form-check {
    position    : relative;
    display     : block;
    padding-left: 20px;
}

.click-to-edit {
    position     : fixed;
    width        : 50px;
    height       : 50px;
    background   : #0d7843;
    color        : white;
    right        : 16px;
    z-index      : 9;
    top          : 85%;
    border-radius: 50px;
}

.click-to-edit a {
    text-decoration: none;
}

.sticky-form-section {
    position   : fixed;
    width      : 100%;
    max-width  : 400px;
    right      : 0;
    top        : 30px;
    z-index    : 99;
    padding-top: 12px !important;
    transition : all 0.5s ease-in;
    animation  : slideLeft 1s forwards;
}

.sticky-form-section h3 {
    padding: 0 16px;
}

.bottom-form-section form input,
.bottom-form-section form select {
    background   : transparent;
    border-radius: 0;
    border       : solid 2px #105632;
}

.bottom-form-section form input::-ms-input-placeholder {
    color: #0d7843;
}

.regular-form-section .toggle-form {
    display: none;
}

.toggle-form {
    display: inline-block;
    cursor : pointer;
}

.fa-edit:before,
.fa-pencil-square-o:before {
    content: "\f044";
}

.banner-section .text-container .fs-15 {
    font-size: 15px;
}

@media (min-width:992px) {
    .text-container {
        position: absolute;
        right   : 215px;
        top     : 10px;
    }

    .signup-early-section .right-column img {
        padding-top: 150px;
    }

    .click-to-edit {
        right        : 0px;
        top          : 40px;
        border-radius: 0px;
    }

    .banner-section .text-container .banner-heading {
        color        : #109251;
        border-bottom: solid 7px #003c6f;
        font-size    : 50px;
        font-weight  : bold;
    }

    .banner-section .text-container a,
    .form-section a {
        color      : white;
        font-weight: 600;
        font-size  : 16px;
    }
}

@media(min-width:768px) {
    .banner-section .text-container .banner-heading {
        color        : #109251;
        border-bottom: solid 7px #003c6f;
        font-size    : 40px;
        font-weight  : bold;
    }

    .banner-section .text-container a,
    .form-section a {
        color      : white;
        font-weight: 600;
        font-size  : 16px;
    }
}

.font-lg-26 {
    font-size: 26px;
}

.sticky-form-section h5 {
    padding    : 0 16px;
    font-size  : 17px;
    font-weight: 700;
}

.bottom-form-section form input:-ms-input-placeholder {
    color: #0d7843;
}

body.sticky-form-has-opened:before {
    content   : '';
    position  : fixed;
    top       : 0;
    right     : 0;
    width     : 100%;
    height    : 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index   : 8;
    animation : slideLeft 1s forwards;
}

.radio-form-group .form-check-label {
    position: relative;
    cursor  : pointer;
    color   : #0d7843;
}

.radio-form-group .form-check-label input {
    visibility: hidden;
}

.radio-form-group .form-check-label .form-check-input {
    position: relative;
    margin  : 0;
}

.radio-form-group .form-check-label:after,
.radio-form-group .form-check-label.checked:before {
    content : '';
    position: absolute;
    width   : 30px;
    height  : 30px;
    top     : -4px;
    right   : -9px;
}

.radio-form-group .form-check-label:after {
    background: rgba(255, 215, 0, 0);
    border    : solid 2px #105632;
}

.radio-form-group .form-check-label.checked:before {
    content     : '\f00c';
    z-index     : 9;
    font-size   : 22px;
    padding-left: 4px;
    color       : white;
    top         : -7px;
    animation   : zoomincheck 0.5s forwards;
}